.cover__subtitle {
  max-width: 360px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  padding: 0;
  color: #ffffff;
  position: relative;

  z-index: 2;
}


@media screen and (max-width: 550px) {
  .cover__subtitle {
    max-width: 495px;
    font-size: 14px;

  }
}