.header__logo {
  max-width: 176px;
  max-height: 52px;
  padding: 0;
  
  display: flex;
  align-self: flex-start;
  transition: opacity 0.3s ease;
}
.header__logo:hover {
  opacity: 0.3;
}

@media screen and (max-width: 550px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}