.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 48px;
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 88px 24px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    width: 90%;
    margin: 64px 16px;
  }
}