.place__link {
  color: #ffffff;
  width: 100%;
  line-height: 1.22;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto 0 0;
  padding: 0;
  transition: opacity .3s ease;
  align-items: flex-start;

}
.place__link:hover {
  opacity: .3;
}
