.place__link {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration-line: underline;
  transition: opacity 0.3s ease;
}
.place__link:hover {
  opacity: 0.3;
}
