.place__link {
  text-decoration: none;
  color: #ffffff;
  max-width: 456px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration-line: underline;
  transition: opacity 0.3s ease;
}
.place__link:hover {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 550px) {
  .place__link {
    max-width: 288px;
  }
}