.place {
  display: grid;
  justify-content: center;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  margin: 0 0 80px;
  max-width: 984px;
  padding: 0;
}
.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 960px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
    margin: 0 0 73px;
  }
}

@media screen and (max-width: 720px) {
  .place {  
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 32px 0;
    margin: 0 0 50px;
  }
}