.footer {
  margin: 0 48px;
  padding: 0;
  width: 92.5%;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.8%;
    margin: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    width: 58.1%;
    margin: 0 118px 24px 16px;
    flex-direction: column;
  }
}