.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .footer {
    width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
    margin: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    width: 58.18%;
    margin: 0 auto 0 16px;
    flex-direction: column;
  }
}