.place__website {
  list-style: none;
  width: calc(100% - 40px/2);
  margin-bottom: 0;
  align-self: end;
  padding: 0;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: 352px;
  }
}

@media screen and (max-width: 550px) {
  .place__website {
    width: calc(100% - 32px);
  }
}